body {
  font-family: 'Fira Code';
  height: 100vh;
}

nav {
  display: flex;
  border-bottom: 1px solid #ede9e9;
  align-items: center;
  row-gap: 10px;
}

.nav-brand {
  display: flex;
  gap: 0px;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
}

.nav-links {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 50px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #ede9e9;
  padding: 3px;
}
/* LANDING PAGE CSS  */

.landing-section {
  display: flex;
  color: black;
  background: linear-gradient(to right, #3d30a2, #7752fe, #f875aa);
  padding: 120px;
  border: 1px solid black;
  align-items: center;
}

.landing-section h1 {
  font-size: 100px;
  color: white;
  margin-bottom: 1px;
}

.landing-section p {
  font-size: 20px;
  color: white;
  margin-bottom: 100px;
}

.landing-section a {
  border: none;
  padding: 30px;
  background-color: white;
  color: #7752fe;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: color 1s;
}

.landing-section a:hover {
  color: #f875aa;
  transition: color 0.5s;
}

/* LANDING PAGE CSS  */

/* LOGIN - REGISTER PAGE CSS */
.login-register-section {
  display: flex;
  background: linear-gradient(to right, #3d30a2, #7752fe, #f875aa);
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.login-register {
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 20px 50px;
  min-width: 700px;
  min-height: 300px;
}

.login-register-input {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.login-register-input label {
  margin-top: 10px;
}

.login-register-input input {
  font: inherit;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}

.login-register-input textarea:focus,
input:focus {
  font: inherit;
  outline: none;
}

.credentials-submit button {
  border: none;
  background: linear-gradient(to right, #3d30a2, #7752fe, #f875aa);
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font: inherit;
  font-size: 1.4rem;
  font-weight: 600;
}

.credentials-submit button:hover {
  background: #7752fe;
  cursor: pointer;
}

.credentials-submit button:active {
  font-size: 1.5rem;
  padding: 11px 22px;
}

.credentials-account p {
  font-size: 1rem;
}

.or-line {
  display: flex;
  align-items: center;
  text-align: center;
  color: darkgrey;
}

.or-line::before,
.or-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid darkgrey;
  margin: 1em;
}

.or-line:not(:empty)::before {
  margin-right: 0.25em;
}

.or-line:not(:empty)::after {
  margin-left: 0.25em;
}

.login-register-error {
  margin: 0 auto;
  background-color: #ffdfdf;
  color: #ce5a67;
  width: 80%;
}

.error-element {
  list-style-type: none;
}

/* LOGIN - REGISTER PAGE CSS */

/* HOME PAGE CSS */

.home-main {
  display: flex;
  padding: 1% 20%;
}

.home-left {
  width: 60%;
}

.home-right {
  width: 40%;
}

/* SEARCH SECTION */

.search-categories {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #ede9e9;
  align-items: center;
  justify-content: space-around;
}

.search input {
  font: inherit;
  font-size: 1.25rem;
  border: none;
  border-radius: 30px;
  background-color: #f5f7f8;
  padding: 0 20px;
  min-height: 50px;
  min-width: 400px;
}

.search-bar-buttons button {
  display: flex;
  column-gap: 5px;
  background: none;
  text-decoration: underline;
  border: none;
  font: inherit;
  font-size: 1.1rem;
}

.search-bar-buttons button:hover {
  cursor: pointer;
  color: #3d30a2;
}

/* SEARCH SECTION */

.blogs {
  border-right: 1px solid #ede9e9;
  padding: 3%;
}

.blog {
  border-bottom: 1px solid #ede9e9;
  padding: 2%;
}

.blog-title,
.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author:hover,
.title:hover,
.blog-content:hover {
  cursor: pointer;
  text-decoration: underline;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.blog-category {
  background-color: #ede9e9;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
}

.blog-save button {
  background: none;
  border: none;
  font-size: 20px;
}

.blog-save button:hover {
  cursor: pointer;
}

/* BLOGS SECTION */

/* RECENTLY VIEWED SECTION */
.visits-section {
  padding: 5%;
  border-bottom: 1px solid #ede9e9;
}

.visits-title {
  margin-left: 2.5rem;
}

.visits-section li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* RECENTLY VIEWED SECTION */

/* SAVED BLOGS SECTION  */
.saved-blogs-section {
  padding: 5%;
  border-bottom: 1px solid #ede9e9;
}

.saved-blogs-title {
  margin-left: 2.5rem;
}

.saved-blogs li {
  list-style-type: none;
  margin-bottom: 10px;
}

.all-saved-blogs {
  text-align: center;
  margin-top: 30px;
}

/* SAVED BLOGS SECTION  */

/* BLOG DETAIL SECTION */
.blog-detail-section {
  padding: 1% 25%;
}

.blog-detail-header {
  border-bottom: 1px solid #ede9e9;
  margin-bottom: 50px;
}

.blog-detail-header h1 {
  font-size: 40px;
}

.blog-detail-author {
  display: flex;
  align-items: center;
  padding: 2%;
}

.info-author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-image {
  margin-right: 10px;
}

.info span {
  color: darkgray;
}

/* BLOG DETAIL SECTION */

/* COMMENTS SECTION */
.comments-section {
  padding: 1% 25%;
}

.comment {
  background: #f2f0f0;
  border: none;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 10px;
}

.comment-info-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

.comment-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-date,
.comment-author {
  color: darkgray;
}

.delete-comment {
  display: flex;
  justify-content: end;
}

.delete-comment button {
  background: none;
  border: none;
  text-decoration: underline;
  font: inherit;
}

.delete-comment button:hover {
  cursor: pointer;
  color: #3d30a2;
}

/* COMMENTS SECTION */

/* RELATED BLOGS SECTION */

.related-blogs-section {
  margin-top: 2%;
  padding: 1% 25%;
  background-color: #f7f4f4;
}

.related-blog {
  padding: 3%;
  border: none;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;
}

.related-blog-title:hover,
.related-blog-content:hover {
  cursor: pointer;
  text-decoration: underline;
}

.related-blog-info {
  display: flex;
  justify-content: space-between;
}

.related-blog-author {
  display: flex;
  column-gap: 10px;
}

.related-blog-author span {
  color: darkgray;
}

/* RELATED BLOGS SECTION */

/* HOME PAGE CSS */

/* RESULTS SECTION */
.results-section {
  padding: 1% 25%;
}

/* RESULTS SECTION */

/* WRITE IN SECTION */
.write-section {
  padding: 1% 25%;
}

.form-input {
  display: flex;
  column-gap: 50px;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-input input {
  width: 90%;
  height: 20px;
  font: inherit;
}

.form-input textarea {
  font: inherit;
}

.form-input select {
  font: inherit;
  padding: 2px;
}

.form-input label {
  width: 7%;
}

.submit-form {
  text-align: center;
}

.submit-form button {
  border: none;
  background: linear-gradient(to right, #3d30a2, #7752fe, #f875aa);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font: inherit;
  font-size: 1.2rem;
}

.submit-form button:hover {
  cursor: pointer;
}

/* WRITE IN SECTION */

/* PROFILE SETTINGS SECTION */
.profile-section {
  padding: 1% 25%;
}

.profile-form-input {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 20px;
}

.profile-form-input label {
  width: 15%;
}

.profile-form-input input {
  font: inherit;
  width: 85%;
  height: 30px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
}

/* PROFILE SETTINGS SECTION */
